<h1>New Restaurant</h1>

<%= simple_form_for(@restaurant, html: { class: 'form' }) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"] %>
  <%= f.button :submit %>
<% end %>
