<h1>New Review for <%= @restaurant.name %></h1>

<%= simple_form_for([@restaurant, @review], html: { class: 'form' }) do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, collection: 0..5 %>
  <%= f.button :submit %>
<% end %>

<%= link_to "Back", @restaurant, class: "dib mv4 no-underline" %>
